/*-------------------------------------------------
[== CSS INDEX ==]
1. Fonts Import
2. General Styles
3. Button styles  
4. Tabs and Accordions 
5. Progress bars
6. Examples icons
7. Overlays
8. Typography
9. Navbar
10. Home Section 
11. Content boxes 
12. Footer
13. Team
14. Responsive Media Querries

---------------------------------------------------- */


/*--- [ 1. Fonts Import ] ---*/
@import url("slider.css");
@import url("vertical.css");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400");
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700");

/*--- [ 2. General Styles ] ---*/
html {
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
code {
	font-family: 'Cutive Mono', monospace;
	font-size: 5em;
	color: #869c98;
	text-transform: none;
}
pre {
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
		background-color: #f5f0ee;
    border: 1px solid #46726e;
    border-radius: 4px;
}

/* WHITE BG COLOR */
body {
	background: #f0d7cb;
	font: 400 12px/1.8 "Open Sans", Verdana, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: 0;
}

.leftauto {
	right: 0 !important;
	left: auto !important;
}

/* Selection */

::-moz-selection {
	background: #000;
	color: #fff;
}

::-webkit-selection{
	background: #000;
	color: #fff;
}

::selection{
	background: #000;
	color: #fff;
}

/* Transition elements */

.form-control,
.navbar-custom,
.navbar-custom .navbar-brand {
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
		-ms-transition: all 0.4s ease-in-out 0s;
		 -o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
}

a,
.btn,
.navbar a {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.team-detail,
.team-image:after,
.work-caption,
.work-image > img,
.work-image:after {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

/* Reset border-radius */

.well,
.label,
.alert,
.progress,
.form-control,
.modal-content,
.panel-heading,
.panel-group .panel,
.nav-tabs > li > a,
.nav-pills > li > a {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

/* Reset box-shadow */

.btn,
.well,
.panel,
.progress,
.progress-bar,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/*--- [ 4. Button styles ] ---*/
.btn {
	padding: 8px 37px;
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 11px;
}

.btn.focus,
.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

.btn.btn-round {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.btn.btn-circle {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
}

/* Button colors */

.btn.btn-g {
	background: transparent;
	border: 1px solid #b2b2b2;
	color: #666;
}

.btn.btn-g:hover, .btn.btn-g:focus {
  background: #222 none repeat scroll 0 0;
  border-color: #222;
  color: #fff;
}
.post-meta.font-inc > a:hover {
  color: #ccc;
}

.btn.btn-border-d {
	background: transparent;
	border: 1px solid #000;
	color: #000;
}

.btn.btn-border-d:hover,
.btn.btn-border-d:focus {
	background: #000;
	color: #fff;
}

.btn.btn-d {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.btn.btn-d:hover,
.btn.btn-d:focus {
	background: #000;
	color: #fff;
}

/* Button sizes */

.btn.btn-lg {
	padding: 12px 45px;
	font-size: 13px;
}

.btn.btn-sm {
	padding: 6px 25px;
	font-size: 10px;
	letter-spacing: 1px;
}

.btn.btn-xs {
	padding: 4px 19px;
	font-size: 10px;
	letter-spacing: 0;
}

.btn-list .btn {
	margin: 5px 0;
}

/*--- [ 5. Tabs and Accordions ] ---*/
.tab-content {
	padding: 20px 0;
}

.panel-title {
	font-size: 14px;
}

.panel-heading a {
	position: relative;
	display: block;
}

.panel-heading a:after {
	position: absolute;
	content: "\f106";
	top: 50%;
	right: 0px;
	font-family: "FontAwesome";
	line-height: 1;
	font-size: 14px;
	margin-top: -7px;
}

.panel-heading a.collapsed:after {
	content: "\f107";
}

/*--- [ 6. Progress bars ] ---*/
.progress {
	overflow: visible;
	height: 4px;
}

.progress-bar {
	position: relative;
}

.progress-bar.pb-dark {
	background: #000;
}

.progress-bar span {
	position: absolute;
	display: block;
	right: -0px;
	top: 6px;
	opacity: 0;
	line-height: 12px;
	font-size: 12px;
	color: #666;
	padding: 4px 0px;
}

.progress-bar span:after {
	display: inline-block;
	content: "%";
}

.progress-title {
	margin: 0 0 5px;
	text-transform: uppercase;
	font-size: 14px;
}

/*--- [ 7. Examples icons ] ---*/
.et-icons .box1 {
	border: 1px solid #e5e5e5;
	display: block;
	width: 25%;
	float: left;
	padding: 0;
	font-size: 13px;
	margin: -1px 0 0 -1px;
}

.et-icons .box1 > span {
	display: inline-block;
	border-right: 1px solid #e5e5e5;
	min-width: 60px;
	min-height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	margin-right: 5px;
}

.fa-icons > div {
	padding: 0;
	border: 1px solid #e5e5e5;
	margin: -1px 0 0 -1px;
	font-size: 13px;
}

.fa-icons > div > i {
	display: inline-block;
	margin-right: 5px;
	min-width: 40px;
	min-height: 40px;
	border-right: 1px solid #f1f1f1;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}

.help-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*--- [ 8. Overlays ] ---*/

/* Dark background */
.bg-dark,
.bg-dark-30,
.bg-dark-50,
.bg-dark-90,
.bg-dark .module-title,
.bg-dark-30 .module-title,
.bg-dark-50 .module-title,
.bg-dark-90 .module-title {
	color: #fff;
}

.bg-dark {
	background: #111;
}

.bg-dark-30::before {
  background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-dark-50:before {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-dark-90:before {
	position: absolute;
	background: rgba(0, 0, 0, .9);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/* Light background */

.bg-light,
.bg-light-30,
.bg-light-50,
.bg-light-90 {
	color: #000;
}

/* I CHANGED THIS */
.bg-light {
	background: #085450;
}

.bg-light-30:before {
	position: absolute;
	background: rgba(255, 255, 255, .3);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-light-50:before {
	position: absolute;
	background: rgba(255, 255, 255, .5);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-light-90:before {
	position: absolute;
	background: rgba(255, 255, 255, .9);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}


/*--- [ 9. Typography ] ---*/
a {
	color: rgb(138, 194, 189);
}

a:hover, a:focus {
	text-decoration: none;
	color: #999;
	outline: 0;
}

.bg-dark a {
	color: #fff;
}

.bg-dark a:hover, .bg-dark a:focus {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-weight: 400;
}

p, ol, ul, blockquote {
	margin: 0 0 20px;
}

blockquote {
	border: 0;
	font-style: italic;
	font-size: 14px;
	padding: 0;
}

.font-alt {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.team-text {
	font-family: "Inconsolata", sans-serif;
	font-size: 0.85em;
	text-transform: uppercase;
	text-align: justify;
	letter-spacing: 0.02em;
	margin-top: 10px;
	margin-bottom: -5px;
}

.font-inc {
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.only-tool {
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
	/* letter-spacing: 0.02em; */
	font-size: 1.7em;
}
.font-serif {
	font-family: Georgia, sans-serif;
}

.font-uppercase {
	text-transform: uppercase;
	font-style: normal;
}

.align-center {
	text-align: center;
}

.rotate {
	text-shadow: none !important;
}

/*--- [ 10. Navbar ] ---*/
/* mobile menu */
a.meanmenu-reveal{display:none}
.mean-container .mean-bar {
  background: transparent none repeat scroll 0 0;
  float: left;
  min-height: 42px;
  padding: 0 0 8px;
  position: relative;
  width: 100%;
  z-index: 999999;
}
.mean-container a.meanmenu-reveal{width:22px;height:22px;padding:13px 13px 11px;top:0;right:0;cursor:pointer;color:#fff;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-family:Arial,Helvetica,sans-serif;font-weight:700;float: right;}
.mean-container a.meanmenu-reveal span {
  background: #000 none repeat scroll 0 0;
  display: block;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav{float:left;width:100%;background:#0c1923}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.mean-container .mean-nav ul li {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 100%;
}
.mean-container .mean-nav ul li a {
  background: #f1f1f1 none repeat scroll 0 0;
  color: #000;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: inherit;
  margin: 0;
  padding: 1em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 90%;
}
.mobile-menu-area {
  background: transparent none repeat scroll 0 0;
}
.mean-container .mean-nav ul li li a {
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.75;
  padding: 1em 10%;
  text-shadow: none;
  text-transform: capitalize;
  visibility: visible;
  width: 80%;
}
.mean-container .mean-nav ul li.mean-last a{border-bottom:0;margin-bottom:0}
.mean-container .mean-nav ul li li li a{width:70%;padding:1em 15%}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%}
.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #889888;
}
.mean-container .mean-nav ul li a.mean-expand {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 0 none;
  font-weight: 700;
  height: 25px;
  line-height: 27px;
  margin-top: 1px;
  padding: 12px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: -1px;
  width: 26px;
  z-index: 2;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #f8f8f8;
}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
.mean-container .mean-bar,.mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}
.mean-container a.meanmenu-reveal {
  border: 1px solid #000;
  color: #444;
  cursor: pointer;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1px;
  font-weight: 700;
  height: 21px;
  line-height: 22px;
  margin-top: -52px;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 11px;
  transition: none 0s ease 0s ;
  width: 22px;
}
.mean-container .mean-bar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float: left;
  min-height: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 999999;
}
.mobile-menu-area {
  display: none;
}

.navbar-custom .dropdown-menu .dropdown-menu {
  border-top: 2px solid #000000;
}
/* navbar backgroudn navbar bg color before scrolling */
.navbar-custom {
	background: #F1E8E3;
	border: 0;
	border-color: #f5f5f5 !important;
	border-bottom: 1px solid #f5f5f5 !important;
	border-radius: 0;
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 13px;
	z-index: 1000;
}

.navbar-custom .dropdown-menu {
	background: #fff;
	border: 1px solid #f5f5f5;
	border-radius: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.navbar-custom .dropdown-menu .dropdown-menu {
	top: 0;
	left: 100%;
	right: auto;
	margin-top: -1px;
}

.navbar-custom .navbar-brand {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.1em;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

/* text links to the top right */
.navbar-custom .nav li > a {
	position: relative;
	color: #165253;
}

.navbar-custom .nav > li > a:focus, .navbar-custom .nav > li > a:hover, .navbar-custom .nav .open > a, .navbar-custom .nav .open > a:focus, .navbar-custom .nav .open > a:hover, .navbar-custom .dropdown-menu > li > a:focus, .navbar-custom .dropdown-menu > li > a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #889888;
}

.navbar-custom .dropdown-menu > li > a:hover {
	background: #f5f5f5 !important;
}

.navbar-custom .dropdown-menu > li > a {
  border-bottom: 1px solid #f5f5f5 !important;
  color: #666;
  font-size: 11px;
  letter-spacing: 0.15em;
  padding: 15px 35px;
}

.navbar-custom .dropdown-menu > li:last-child > a {
	border: 0 !important;
}

.navbar-custom .dropdown-toggle:after {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -5px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 9px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-nav > .dropdown > .dropdown-toggle {
	padding-right: 28px;
}

.navbar-custom .navbar-nav > .dropdown > .dropdown-toggle:after {
	position: absolute;
	display: block;
	right: 15px;
	top: 50%;
	margin-top: -5px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 9px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #000;
}

/*--- [ 11. Home Section ] ---*/
.module-hero {
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	z-index: 0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.hs-title-size-1 {
	letter-spacing: 0.1em;
	font-size: 14px;
}

.hs-title-size-2 {
	letter-spacing: 0.2em;
	font-size: 18px;
}

.hs-title-size-3 {
	letter-spacing: 0.1em;
	font-size: 28px;
}

.hs-title-size-4 {
	letter-spacing: 0.2em;
	font-size: 36px;
}


/* -- Sections */

.wrapper {
	position: relative;
	background: #000;
	z-index: 1;
}

/* THE ONLY TOOL YOU NEED BG COLOR */
.module,
.module-small,
.module-header {
	position: relative;
	padding: 140px 0;
	background-color: #F1E8E3;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.module-small {
	padding: 70px 0;
}

.module-header {
	padding: 190px 0 140px;
}

.col-bg {
	background: rgba(255, 255, 255, .9);
	padding: 140px 60px;
}

/* Module title */

.module-title {
	position: relative;
	margin: 0 0 70px;
	letter-spacing: 0.15em;
	font-size: 30px;
	color: #000;
}

.module-subtitle {
	margin-bottom: 70px;
	margin-right: 20px;
	font-size: 12px;
}

.module-title + .module-subtitle {
	margin-top: -35px;
}

/* Sections dividers */

.divider-w {
	border-top: 1px solid #0b393a;
	margin: 0;
}

/* --Social list */

.social-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-list > li {
	display: inline-block;
	font-size: 24px;
	margin: 5px 5px 5px 0;
}

/*--- [ 12. Content boxes ] ---*/
.content-box {
	text-align: center;
	margin: 25px 0;
}

.content-box-icon {
	font-size: 36px;
}

/* titles for content boxes */
.content-box-title {
	color: #43a396;
	margin: 5px 0 0;
	font-size: 14px;
}

.content-box-text {
	margin: 15px 0 0;
}

/* --Counters */

.counter-item {
	text-align: center;
}

.counter-number {
	font-size: 36px;
}

.counter-title {
	text-transform: uppercase;
	font-size: 14px;
}

/*--- [ 13. Google map ] ---*/
#map-section {
	position: relative;
	height: 450px;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#map img {
	max-width: none;
}
.form-control {
  height: 49px;
}
#contact-form .btn {
  font-size: 13px;
  padding: 14px 52px;
}
.ajax-response {
	text-align: center;
}

/*--- [ 14. Footer ] ---*/
.footer {
	background: #fff;
	padding: 20px 0;
}

.copyright {
	font-size: 14px;
}

/*--- [ 15. Portfolio ] ---*/

/* Portfolio filter */

.filter {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.filter > li {
	display: inline-block;
	padding: 5px 0;
	margin: 0 25px;
}

.filter > li a {
  color: rgba(102, 102, 102, 0.5);
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}
.filter > li a::after {
  background: #999 none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -18px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(43deg);
  width: 33px;
}
.filter > li a:hover::after ,
.filter > li a.current::after {
  background: #000 none repeat scroll 0 0;
  opacity: 1;
}
.filter > li a:hover,
.filter > li a.current {
	color: #000;
}

/* Portfolio grid */

.works-grid {
	list-style: none;
	padding: 0;
	margin: 0;
}

.works-grid.works-grid-gut {
	margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
	padding: 0 0 10px 10px;
}

.work-item {
	width: 50%;
	float: left;
	margin: 0;
}

.works-grid-3 .work-item {
	width: 33.333%;
}

.container > .works-grid-3 .work-item {
	width: 33.2%;
}

.works-grid-4 .work-item {
	width: 25%;
}

/* Portfolio item */

.work-item > a {
	position: relative;
	display: block;
	overflow: hidden;
}

.work-image {
	position: relative;
	overflow: hidden;
}

.work-image img {
	display: block;
	overflow: hidden;
	width: 100%;
}

.work-image:after {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.work-caption {
	width: 100%;
	padding: 0 20px;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	text-align: center;
	overflow: hidden;
}

.work-title {
	font-size: 18px;
	color: #fff;
	margin: 0 0 6px;
}

.work-descr {
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}

/* */
.works-grid-4 .work-title {
	font-size: 14px;
}

.works-grid-4 .work-descr {
	font-size: 12px;
}

/* Portfolio item hover */

.work-item:hover .work-image:after {
	background: rgba(0, 0, 0, .7);
}

.work-item:hover .work-image > img {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}

.work-item:hover .work-caption {
	bottom: 50%;
	opacity: 1;
	z-index: 3;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}

/* Work item white background */

.works-grid.works-hover-w .work-title {
	color: #000;
}

.works-grid.works-hover-w .work-descr {
	color: #666;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
	background: rgba(255, 255, 255, .8);
}

.works-grid.works-hover-g .work-image:after {
	opacity: 0;
}
.works-grid.works-hover-g .work-title,
.works-grid.works-hover-g .work-descr {
	color: #000;
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmRmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZGYiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2YwYjMiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgba(255,255,223,0.8) 0%, rgba(255,255,223,0.8) 25%, rgba(252,240,179,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,223,0.8)), color-stop(25%,rgba(255,255,223,0.8)), color-stop(100%,rgba(252,240,179,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,223,0.8) 0%,rgba(255,255,223,0.8) 25%,rgba(252,240,179,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,223,0.8) 0%,rgba(255,255,223,0.8) 25%,rgba(252,240,179,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,223,0.8) 0%,rgba(255,255,223,0.8) 25%,rgba(252,240,179,0.8) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,223,0.8) 0%,rgba(255,255,223,0.8) 25%,rgba(252,240,179,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffdf', endColorstr='#e6fcf0b3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
opacity: 1;
}

/* Portfolio single */

.work-details {
	margin: 0 0 20px;
}

.work-details-title {
	color: #000;
	margin: 0 0 20px;
}

.work-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-details ul > li {
	margin: 0 0 10px;
}

.work-title > i,
.work-title > span {
	font-size: 30px;
}

/*--- [ 16. Team ] ---*/
.team-item {
	position: relative;
	text-align: center;
}

/* .team-image {
	position: relative;
	overflow: hidden;
}

.team-image img {
	width: 100%;
}

.team-image:after {
	position: absolute;
	background: transparent;
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
} */

.team-detail {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 50%;
	opacity: 0;
	z-index: 2;
}

.team-detail h5 {
	text-transform: uppercase;
	font-size: 14px;
}

.team-descr {
	margin: 20px 0 0;
}

.team-name {
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
}

.team-role {
	text-transform: uppercase;
	font-size: 12px;
}

/* Team member hover */

.team-image:after {
	background: rgba(255, 255, 255, .9);
}

.team-detail {
	opacity: 1;
}

/*--- [ 17. Blog ] ---*/
.post-columns .post {
	margin: 0 0 60px;
}

.post {
	margin: 0 0 80px;
}

.post-video,
.post-thumbnail,
.post-images-slider {
	margin: 0 0 20px;
}

.post-images-slider {
	position: relative;
}

.post-quote {
	background: #f5f5f5;
	text-align: center;
	padding: 20px;
}

.post-quote blockquote {
	margin: 0;
}

.post-header {
	margin: 0 0 20px;
}

.post-title {
	font-size: 18px;
	color: #000;
	margin: 0;
}

.post-columns .post-title {
	font-size: 14px;
}

.post-meta {
	font-size: 13px;
}

.post-more {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 13px;
}

/* Blog standart */

.post-header-small {
	position: relative;
	padding: 0 0 0 60px;
}

.post-icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 48px;
	width: 48px;
	line-height: 48px;
	font-size: 36px;
}

.post-icon > i,
.post-icon > span {
	line-height: 48px;
}
.home_blog_area {
  background: #f8f8f8 none repeat scroll 0 0;
  padding-bottom: 21px !important;
  padding-top: 89px;
}
.pagination {
	display: block;
	text-align: center;
	font-size: 14px;
}

.pagination a + a {
	padding-left: 20px;
}

/*--- [ 18. Comments and comment form ] ---*/
.comments,
.comment-form {
	margin: 80px 0 0;
}

.comments .comment-title,
.comment-form .comment-form-title {
	font-size: 18px;
	color: #000;
	margin: 0 0 40px;
}

.comment-author {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 0 10px;
}

.comment-avatar {
	width: 55px;
	float: left;
	margin-top: 10px;
}

.comment-avatar img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

.comment-content {
	padding-top: 5px;
	margin-left: 75px;
	margin-bottom: 30px;
}

.comment-meta {
	text-transform: uppercase;
	font-size: 12px;
}

/* --Scroll to top */

.scroll-up {
	position: fixed;
	display: none;
	bottom: 7px;
	right: 7px;
	z-index: 999;
}

.scroll-up a {
	background: #fff;
	display: block;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #000;
	opacity: 0.6;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

.scroll-up a:hover,
.scroll-up a:active {
	opacity: 1;
	color: #000;
}

/* --Preloader */

.page-loader {
	position: fixed;
	background: #fff;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9998;
}

.loader {
	position: absolute;
	border-left: 2px solid #b2b2b2;
	border-top: 2px solid rgba(245, 245, 245, 0.8);
	border-right: 2px solid rgba(245, 245, 245, 0.8);
	border-bottom: 2px solid rgba(245, 245, 245, 0.8);
	height: 46px;
	width: 46px;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
	text-indent: -9999em;
	font-size: 10px;
	z-index: 9999;
	-webkit-animation: load 0.8s infinite linear;
	   -moz-animation: load 0.8s infinite linear;
		 /* ms-animation: load 0.8s infinite linear; */
		  /* o-animation: load 0.8s infinite linear; */
			animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 46px;
	height: 46px;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/* New Custom style  */
body {
  color: #0f8372;
  font: 400 13px/1.8 "Open Sans",Verdana,sans-serif;
}
.navbar {
  min-height: 70px;
  padding-top: 4px;
}
.navbar-custom {
  font-family: open sans;
}
.navbar-custom .navbar-brand {
	font-size: 24px;
	color: #066355;
  font-weight: 500;
}
.navbar-custom .navbar-nav > .dropdown > .dropdown-toggle::after {
  display: none;
}
.navbar-custom .navbar-nav > *::before {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: 0;
  margin-top: -1px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: all 0.4s ease 0s;
  width: 4px;
}
.home_blog_areas {
  padding-bottom: 25px !important;
  padding-top: 81px;
}
.navbar-custom .navbar-nav > li:hover::before {
  left: 6px;
  opacity: 1;
}
.navbar-nav > li > .dropdown-menu {
  border-left: 0 none;
  border-right: 0 none;
  border-top: 2px solid #000000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  top: 66px;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
}
.navbar-custom .open > .dropdown-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
nav.navbar ul li:hover > ul {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
/* navbar transition color */
nav.navbar.stick {
  background: #88c3b8 none repeat scroll 0 0;
  border-bottom: 1px solid rgba(25, 25, 25, 0.04) !important;
  border-left-color: #f5f55f;
  border-right-color: #f5f55f;
  border-top-color: #f5f55f;
}
.navbar-transparent.stick .nav li > a, .navbar-transparent.stick .navbar-brand {
  color: #fff;
}




.navbar-nav > li > a {
  padding-bottom: 20px;
  padding-top: 20px;
}
.font-inc {
  font-family: open sans;
	letter-spacing: 0.1em;
	font-size: 0.9em;
  text-transform: uppercase;
}
.white-bg-30::before {
  background: rgba(0, 0, 0, 0.34) none repeat scroll 0 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.sld-btn > a {
  background: #fff none repeat scroll 0 0;
  display: block;
  padding: 12px 43px;
  border: 1px solid #f8f8f8;
  transition: all 0.3s ease 0s;
}
.sld-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 51px;
  text-transform: uppercase;
}
.sld-btn:hover a {
  background: #222 none repeat scroll 0 0;
  border-color: #222;
  color: #fff;
}
.hs-title-size-4 {
  font-size: 44px;
  letter-spacing: 0.2em;
}
.filter > li a::after {
  background: #999 none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: 0;
  margin-left: -18px;
  margin-top: -2px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: inherit;
  transition: all 0.4s ease 0s;
  width: 4px;
}
.filter > li a:hover::after, .filter > li a.current::after {
  background: #000 none repeat scroll 0 0;
  left: 6px;
  opacity: 1;
}
.hm-drk .hs-title-size-4 ,.hm-drk .hs-title-size-1  {
  color: #fff;
}
.sld-btn-more {
  text-align: center;
}
.sld-btn-more .sld-btn {
  margin-top: 20px;
}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
  height: 102%;
}
.section-title {
  clear: both;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
}
.section-title > h2 {
  font-family: montserrat;
  margin: 0 0 38px;
  position: relative;
  text-transform: uppercase;
}
.section-title > h2::after {
  background: #2b3c44 none repeat scroll 0 0;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}
.section-title > h2::before {
  background: #489486 none repeat scroll 0 0;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
  z-index: 9;
}
.post-entry > p {
  font-size: 13px;
}

.copy-right a {
  color: #000;
}
.footer-area {
  border-top: 1px solid #346b62f2;
  padding: 25px 0;
}
.copy-right {
    padding: 4px 0 2px;
}
.social-bookmark-wrapper {
  float: right;
  margin-bottom: 0;
  margin-top: 4px;
}
.social-bookmark-wrapper > li {
  float: left;
  list-style: outside none none;
  margin-left: 10px;
}
/* twitter bg icon stuff */
.social-bookmark-wrapper a {
  border: 1px solid #26776d;
  border-radius: 100%;
  color: #ecddd9;
  display: inline-block;
  font-size: 17px;
  height: 40px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 40px;
}
.social-bookmark-wrapper a:hover {
  border: 1px solid #f8f8f8;
  color: #012E2B;
}

.social-bookmark-wrapper  li a::before {
  background: #222 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: 50% 100% 0;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.social-bookmark-wrapper  li a:active::before, .social-bookmark-wrapper  li a:focus::before, .social-bookmark-wrapper  li a:hover::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.copy-right > p {
  color: #000;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 12px 0 0;
  text-transform: uppercase;
}
/* Home 2 update style */
.navbar-transparent.navbar-custom .navbar-nav > *::before {
  background: #fff none repeat scroll 0 0;
}

/* THE ALTERNATING BACKGROUND COLOR aka what the team module bg color is*/
.gray-bg {
  background: #012E2B;
}
.counter-home {
  padding-bottom: 82px;
}
.p-b-93 {
  padding-bottom: 83px;
}
.navbar-custom .navbar-brand {
  margin-top: 5px;
}

.service-area  .content-box {
	/* background for content boxes */
	/* bg for content boxes */
	background: #0b393a none repeat scroll 0 0;
	/* border for content boxes */
  border: 1px solid #26776d;
  padding: 31px;
}
.service-area .content-box .content-box-text {
	font-size: 13px;
	color: #77aca4;
}
.service-area .content-box-icon span {
  transform: scale(0.9);
  transition: all 0.3s ease 0s;
}
.service-area .content-box:hover .content-box-icon span {
  transform: scale(1.2);
}
.service-area {
  padding: 80px 0 67px;
}

.social-list > li {
  font-size: 30px;
}
.module, .module-small, .module-header {
  padding: 80px 0 70px;
}
.module.module-header {
  padding: 190px 0 140px;
}
.breadcrumb {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
}

/* const jade green = #08540; font color - #066355 */
/* mint grn = #edf5f2; */
/* SVG LOGO BG */
.breadcrum-area {
  background: #012E2B; 
	padding: 99px 0 29px;
	height: 550px;
}
.breadcrum-title > h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.abt-pg .module-subtitle {
  margin-bottom: 50px;
}
.prot-ptb {
  padding: 83px 0 72px;
}
.works-grid.works-hover-g .work-item:hover .work-image::after {
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgba(67, 212, 175, 0.8) 0%, rgba(44, 211, 208, 0.8) 25%, rgba(78, 255, 206, 0.8) 100%) repeat scroll 0 0;
  opacity: 1;
}

/*--- [ 19. Responsive Media Querries ] ---*/
@media (min-width: 768px) {

	.align-right {
		text-align: right;
	}

	.navbar-transparent {
		background: transparent;
		border: 0 !important;
		border-color: #f5f5f5 !important;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.navbar-transparent .nav li > a,
	.navbar-transparent .navbar-brand {
		color: #fff;
	}

	.navbar-transparent .dropdown-menu > li > a {
		color: #666;
	}

	.nabar-dark .nav > li > a,
	.nabar-dark .navbar-brand {
		color: #000;
	}

	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		position: absolute;
		display: block;
		right: 9px;
		top: 50%;
		margin-top: -6px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 9px;
		content: "\f105";
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.navbar-custom .dropdown-menu {
		position: absolute;
		display: block;
		visibility: hidden;
		opacity: 0;
	}

	.navbar-custom .open > .dropdown-menu {
		visibility: visible;
		opacity: 1;
	}

	.navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}

	/* Comments */

	.comment .comment {
		margin-left: 75px;
	}

}

@media (max-width: 991px) {

	/* Headers */

	.hs-title-size-3 {
		font-size: 24px;
	}

	.hs-title-size-4 {
		font-size: 32px;
	}

	.work-item,
	.works-grid-3 .work-item,
	.works-grid-4 .work-item,
	.works-grid-5 .work-item {
		width: 50%;
	}

}

@media (max-width: 767px) {

	/* Navbar */

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom li a:hover {
		background: #f5f5f5 !important;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		padding: 10px 25px;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-header,
	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
		padding: 10px 35px;
	}

	.navbar-custom li a,
.navbar-custom li a, .navbar-custom .dropdown-menu > li:last-child > a {
  border-bottom: 1px solid #f5f5f5;
}

	.navbar-custom .navbar-nav > .dropdown > .dropdown-toggle:after,
	.navbar-custom .dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		right: 7px;
		content: "\f107";
	}

	.navbar-custom .navbar-nav > .open > .dropdown-toggle:after,
	.navbar-custom .nav > .open >.dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after {
		content: "\f106";
	}

	.navbar-custom .navbar-collapse {
		border-top: 1px solid #f5f5f5;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	/* Headers */

	.hs-title-size-1 {
		font-size: 12px;
	}

	.hs-title-size-2 {
		font-size: 16px;
	}

	.hs-title-size-3 {
		font-size: 20px;
	}

	.hs-title-size-4 {
		font-size: 24px;
	}
.copy-right {
  padding: 4px 0 8px;
  text-align: center;
}
.social-bookmark-wrapper {
  float: none;
}	
div.social-bookmark-wrapper {
  float: inherit;
  margin-bottom: 0;
  margin-top: 4px;
  text-align: center;
}	
ul.social-bookmark-wrapper {
  display: inline-block;
  float: inherit;
  overflow: hidden;
  padding: 0;
}
.navbar-custom .navbar-nav > *::before,.navbar-toggle  {
  display: none;
}
.navbar {
  border: 0 none;
  margin-bottom: 0;
  min-height: auto;
  padding-bottom: 6px;
  padding-top: 6px;
}
.navbar-custom .navbar-brand {
  margin-top: 0;
}
.mobile-menu-area {
  display: block;
}
.portfolio_area {
  padding-top: 80px!important;
}


}

@media only screen and (max-width: 480px) {

	.work-item,
	.works-grid-3 .work-item,
	.works-grid-4 .work-item,
	.works-grid-5 .work-item {
		width: 100%;
	}

}


/* -------------------------------------------------------------------
Multi-columns-row
------------------------------------------------------------------- */

.multi-columns-row .first-in-row {
	clear: left;
}

.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {

	.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

		.multi-columns-row .col-sm-8:nth-child(n + 2) { clear: left; }
	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}

@media (min-width: 992px) {

	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

		.multi-columns-row .col-md-8:nth-child(n + 2) { clear: left; }
	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}

@media (min-width: 1200px) {

	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

		.multi-columns-row .col-lg-8:nth-child(n + 2) { clear: left; }
	.multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }

}

/* Contact-message-modal  css start */
.cr-contact-message-modal {
position: fixed;
top: auto;
bottom: 0;
left: 0;
right: auto;
width: 100%;
background: rgba(25, 25, 25, 0.95);
-webkit-transform: translateY(100%);
-moz-transform: translateY(100%);
-ms-transform: translateY(100%);
-o-transform: translateY(100%);
transform: translateY(100%);
visibility: hidden;
opacity: 1;
z-index: -9;
-webkit-transition: 0.5s ease-out 0s;
-moz-transition: 0.5s ease-out 0s;
-ms-transition: 0.5s ease-out 0s;
-o-transition: 0.5s ease-out 0s;
transition: 0.5s ease-out 0s;
padding: 30px;
padding-right: 60px;
-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2); }
.cr-contact-message-modal .form-messege {
font-size: 20px;
margin-bottom: 0;
line-height: 1.3; }
.cr-contact-message-modal .form-messege.error {
  color: #f6644F; }
.cr-contact-message-modal .form-messege.success {
  color: #47BB8F; }
.cr-contact-message-modal.is-visible {
opacity: 1;
visibility: visible;
z-index: 99999;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0); }
.cr-contact-message-modal button {
position: absolute;
right: 25px;
top: 30px;
height: 30px;
width: 30px;
text-align: center;
line-height: 30px;
background: transparent;
color: #ffffff;
outline: none;
border: none;
font-size: 20px; }

@media only screen and (max-width: 767px) {
.cr-contact-message-modal {
padding-right: 40px; }
.cr-contact-message-modal button {
  right: 10px;
  top: 10px; } }
  

/* end css */













